<div class="container-lg" >

  <div class="align-content-center mt-5">
    <p class="mt-3">Hello Angular</p>
  </div>

  <div>
    <table class="table table-bordered">
      <thead>
      <tr class="text-center">
        <th scope="col">SL</th>
        <th scope="col">Name</th>
        <th scope="col">
          Active
          <br>
          <span class="text-nowrap m-1">
            All
             <input class="form-check-input" type="checkbox" value="" id="All">
          </span>
          <span  class="text-nowrap m-1">
            Individual
             <input class="form-check-input" type="checkbox" value="" id="Individual">
          </span>
        </th>
        <th scope="col">Per cost (Tk.)</th>
        <th scope="col">Food</th>
      </tr>
      </thead>
      <tbody class="text-center">

      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td class="text-nowrap">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        </td>
        <td>
           <span class="my-auto-5">
            <input readonly type="text"
                   class="form-control text-nowrap"
                   placeholder="Username"
                   value="" id="flexCheckDefault18">
          </span>

        </td>
        <td>Pizza</td>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td class="text-nowrap">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault2">
        </td>
        <td>
          <span class="my-auto-5">
            <input readonly type="text"
                   class="form-control text-nowrap"
                   placeholder="Username"
                   value="" id="flexCheckDefault8">
          </span>
        </td>
        <td>Pizza</td>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td class="text-nowrap">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault3">
        </td>
        <td>
          <span class="my-auto-5">
            <input readonly type="text"
                   class="form-control text-nowrap"
                   placeholder="Username"
                   value="" id="flexCheckDefault5">
          </span>

        </td>
        <td>Pizza</td>
      </tr>
      </tbody>
    </table>
  </div>

</div>
